
.styled-table {
     border-collapse: collapse; /*Selects a table's border model. */
     /* Shorthand property to set values the thickness of the margin area. */
    margin:0px 400px ;
    /* Specifies a prioritized list of font family names or generic family names. */
    font-family: sans-serif;
    /* Allows authors to constrain content width to a certain range. */
    min-width:400px;
    /* Attaches one or more drop-shadows to the box. */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    /* Sets the background color of an element. */
    background-color: #009879;
    /* Sets the color of an element's text */
    color: #ffffff;
    /* Describes how inline contents of a block are horizontally aligned 
    if the contents do not completely fill the line box. */
    text-align: left;
}
.styled-table th {
    /* Shorthand property to set values the thickness of the padding area. */
    padding: 15px 15px;
    /* Indicates the desired height of glyphs from the font. */
    font-size: 13px;
}
.styled-table td{
   
    padding: 10px 15px;
    font-size: 15px;
text-align: center;

   
}
.msg{
    margin: 5px 500px ;
    color: rgb(236, 131, 89);
    font-size: 20px;
}
.msg1{
    margin: 10px 400px ;
    background-color:hsl(0, 100%, 50%);
    /* Specifies the width of the content area,
     padding area or border area (depending on 'box-sizing') of certain boxes. */
    width: 80px;
    
}


.styled-table tbody tr:last-of-type {
    /* Shorthand property for setting border width, style and color. */
    border-bottom: 2px solid #009879;
}
.search{
margin :1cm 28cm;
width: 7cm;
}
.category{
    /* Shorthand property to set values the thickness of the margin area. */
    margin: 5px 1cm;
    

}
