
  <div style="margin-left: 10px;margin-top: 10px;" >

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a routerLink="home" class="nav-link">Home</a>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Product
            </a>
            <div  class="dropdown-menu"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item"   routerLink="update" >Update Warrenty </a>
              <a class="dropdown-item" routerLink="engineer">Product Engineers</a>
              <a class="dropdown-item" routerLink="complaint">Product Complaints</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        
        </ul>
      </div>
    </nav>
  </div>
  
  
  <div>
    <router-outlet></router-outlet>
  </div>
   
   