<!-- The p element represents a paragraph. -->
<p></p>
<!-- div can be used with the class, lang, and title attributes to mark up semantics common to a group of consecutive elements. -->
<div style="background-color: lightgray;">
  <!-- class is a space-separated list of the classes of the element. -->
  <p class="productCategory">
    <!-- style Contains CSS styling declarations to be applied to the element. -->
    <b style="color: rgb(11, 15, 230);">ChooseCategory</b>  &nbsp;
    <!-- The select element represents a control for selecting amongst a set of options. -->
    <select style="background-color: rgb(70, 68, 68);color:white;" [(ngModel)]="productCategory"   (click)='engineerList()' >
      <!-- The option element represents an option in a select element or as part of a list of suggestions in a datalist element. -->
      <option [ngValue]="null" [selected] ="productCategory==null" disabled >Select Category</option>
      <option  *ngFor="let product of productCategoryName" [ngValue]="product">{{product}}</option>
    </select>
  </p>
    <!-- The input element represents a typed data field, usually with a form control to allow the user to edit the data. -->
    <input class="search" type="text"  placeholder="Search..." [(ngModel)]="filterTerm">   
</div>
<p style="text-align: center; background-color: rgb(154, 186, 216);  font-size:30px;">ENGINEER TABLE</p>
<div class='maindiv'>
  <!-- The table element represents data with more than one dimension, in the form of a table. -->
  <table class="styled-table" *ngIf='message==null'>
    <!-- The thead element represents the block of rows that consist of the column labels (headers) for the parent table element, 
    if the thead element has a parent and it is a table. -->
    <thead>
      <!-- The tr element represents a row of cells in a table. -->
      <tr >
        <!-- The th element represents a header cell in a table. -->
         <th>ENGINEER ID</th>
         <th>NAME</th>
         <th>DOMAIN</th>
      </tr >
    </thead> 
    <!-- The tbody element represents a block of rows that consist of a body of data for the parent table element,
     if the tbody element has a parent and it is a table. -->
    <tbody >
      <tr class="active-row" *ngFor='let engineer of engineers | filter:filterTerm'>
          <td>{{engineer.engineerId}}</td>
          <td>{{engineer.engineerName |titlecase}}</td>
          <td>{{engineer.domain}}</td>
      </tr>
    </tbody>
  </table>
 
  <p class='msg' *ngIf='message != null'>  
    {{message}}!! &nbsp; Click close button
    <!-- The br element represents a line break. -->
    <br>
     <button type="button"  class='msg1'  (click)='refreshPage()'>Close</button>
  </p>
</div>

